@model IEnumerable<UniversityApp.Models.Student>

<h2>Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Average Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Score</td>
            </tr>
        }
    </tbody>
</table>
